/* css 변수 */

:root {
    --light-grey: #dddddd;
    --dark-grey: grey;
    --light-yellow: #ebb012;
    --dark-yellow: #d39c12;
}

/* 전체스타일 */
* {
    margin: 0;
    padding: 0;
}

/* title and sub title */
h2 {
    margin-bottom: 32px; 
    font-size: 28px;
    color: var(--light-grey);
}

a {
    text-decoration: none;
}

.font {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

p {
    color: var(--light-grey);
}

ul, li {
    list-style-type: none;
}


/* 스크롤바 디자인 */
/* 가로 스크롤바 없애기 : css 다시 */

::-webkit-scrollbar {
    width: 10px;  /* 세로축 스크롤바 길이 */
    background-color: black;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: seashell;
    border-radius: 10px;
    margin: 2px;
}


/* arrow up */
#arrow-up {
    position: fixed;
    display: none;
    right: 6px;
    bottom: 6px;
    z-index: 99;
    animation: btnShow 1s ease-in;
}

#arrow-up img{
    /* width: 100%;
    height: 100%; */
    width: 80px;
}

#arrow-up:hover {
    cursor: pointer;
    animation: upAni 1s ease-in;
}

@keyframes btnShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes upAni {
    0% {
        bottom: 6px;
    }
    25% {
        bottom: 10px;
        
    }
    50% {
        bottom: 6px;
    }
    75% {
        bottom: 10px;
    }
    100% {
        bottom: 6px;
    }
}



@media all and (max-width:767px) {

    ::-webkit-scrollbar {
        width: 1px;  /* 세로축 스크롤바 길이 */
        background-color: black;
    }
    
    ::-webkit-scrollbar-thumb {
        width: 1px;
        border-radius: 10px;
        margin: 1px;
    }
    

}