/* navbar.css */

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    /* width: 100%;  */
    width: 100vw;
    height: 80px;
    background-color: black;
    z-index: 900;
    border: 2px solid black;;
    /* 위아래만 색이 다르도록 */
    border-top-color: seashell; 
    border-bottom-color: seashell;
    /* border: 2px solid seashell; */
    box-shadow: 0 5px 20px rgba(82, 82, 82, 0.577);
}

#navbar a {
    line-height: 80px;
    text-decoration: none;
}

#nav-logo {
    width: 30px;
    /* margin-left: 30px; */
    margin: 30px auto 0 30px;
}

#nav-title {
    color: whitesmoke;
}

#nav-title h2 {
    margin: 0; 
    font-size: 32px;
    font-weight: 400;
}

.nav-bars {
    margin-right: 30px;
}

.nav-bars:hover {
    cursor: pointer;
}

.bar {
    width: 24px;
    height: 6px;
    background-color: whitesmoke;
}

.bar2 {
    margin-top: 6px;
}



/* 네비게이션 리스트 */
.navbar-container {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 0px;
    color: var(--light-grey);
    background-color: rgba(0, 0, 0, 0.937);
    box-shadow: 0 5px 20px rgba(82, 82, 82, 0.577);
    z-index: 3;
    transition: all 0.4s ease-in-out;
}

/* nav 전체 보이게 */
.navbar-visible {
    height: 300px;
}

.navbar-list {
    /* display: none; */
    width: 600px;
    margin: 0 auto;
    height: 0px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

/* navbar-list */
.list-visible {
    height: 250px;
}

.navbar-list ul {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 18px 46px;
    text-align: center;
}

.navbar-list ul:first-child {
    top: -40px;
}


.navbar-list ul li:first-child {
    margin: 20px 0;
    font-size: 38px;
    text-shadow: 1px 2px 2px #ebac12;
}

.navbar-list li {
    margin: 10px 0;
    font-size: 23px;
}

.navbar-list li a{
    color: var(--light-grey);
}

.navbar-list li a:hover {
    cursor: pointer;
    color: #ebac12;
    /* text-shadow: 0.5px 0.5px 2px #ebac12; */
}



@media all and (max-width:767px) {
    .navbar-visible {
        height: 600px;
    }

    .list-visible {
        height: 500px;
    }
    
    .navbar-list {
        width: 300px;
        margin: 50px auto;
        box-sizing: border-box;
    }


    .navbar-list ul { 
        width: 200px;
        margin: 10px 46px;
    }
}