/* dashboard first table section css */


/* ///////////// 첫번째 그래프 영역 */

/* 네트워크 망 */
#net-box {
    position: absolute;
    top: 20px;
    width: 33%;
    height: 610px;
}
#graph_net {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* color: #ffb381; */
}


/* 정상 / 비정상 데이터 차트 */
#att_ratio {
    top: 20px;
    left: 33.5%;
    width: 33%;
    height: 282px;
    padding: 5px;
    box-sizing: border-box;
    /* overflow: hidden; */
    overflow: visible;
}

#att_ratio .info-box {
    width: 100%;
}

#att_ratio .info-box p {
    font-size: 16px;
    margin: 16px 0 0;
    font-weight: 600;
}

#att_ratio .info {
    margin-bottom: 1px;
}


#att_ratio #won_table {
    position: absolute;
    top: 10px;
    left: 47%;
    width: 51%;
    height: 254px;
    border: 0.5px solid #595959;
    text-align: center;
}


/* 비율그래프 */
#won-box {
    position: absolute;
    top: 0;
    width: 48%;
    height: 100%;
    margin-top: 10px;
    padding: 0;
    /* overflow: hidden; */
}

#won-box .graph-box {
    position: absolute;
    top: 14%;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
#graph_won {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    border: none;
    padding: 0;
}



/* 전체트래픽 데이터 테이블 */
.table_box {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 180px;
    margin: 22px auto 0;
    justify-content: center;
    align-items: center;
}


.table_item {
    /* width: 106px; */
    width: 40%;
    height: 78px;
    border: 0.2px solid #9b9b9b80;
    background-color: #59595974;
    float: left;
    margin: 6px;
}

.table_item p {
    color: #F5C3CB;
    font-size: 12px;
    font-weight: 600;
    margin-top: 16px;
}

/* 유동 데이터 */
.table_item .won_data {
    font-size: 23px;
    color: aliceblue;
    margin-right: 3px;
    font-weight: 500;
}

.table_item span:last-child {
    color: #A6EC99;
    font-size: 9.5px;
    font-weight: 600;
}



/* 패킷 길이 빈도 (Bar) */
#pal-box {
    position: absolute;
    top: 20px;
    left: 67%;
    width: 33%;
    height:282px;
    box-sizing: border-box;
}
#graph_pal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

/* #pal-box .info-contents {
    transform: translate(-50%, -100%);
} */

/* bps */
#bps-box {
    position: absolute;
    top: 310px;
    left: 33.5%;
    width: 33%;
    height: 320px;
}
#graph_bps {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}


#pps-box {
    position: absolute;
    top: 310px;
    left: 67%;
    width: 33%;
    height: 320px;
}
#graph_pps {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
/* #pps-box .info-contents {
    transform: translate(-50%, -100%);
} */