/* dashboard second table section css */

/* flag 데이터 */
#flag_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 48%; */
    top: 430px;
    /* left: 45.5%; */
    width: 100%;
    height: 410px;
    /* height: 500px; */
    padding: 10px;
    border: 1px solid var(--dark-grey);
    box-sizing: border-box;
}

#flag-box {
    position: relative;
    top: 0;
    width: 80%;
    height: 100%;
    margin: 0;
}

#flag-box .info-contents {
    width: 125%;
    transform: translate(10%,-112%);
}

#graph_flag {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}




/* flag 비율 테이블 */
#flag_ratio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 9.5%;
    height: 100%;
    border: 1px solid var(--dark-grey);
    /* padding: 10px; */
    background-color: #59595974;
}

#flag_ratio .info-box P {
    font-size: 16px;
}

#flag_ratio .info-contents {
    transform: translate(-34.5%,-138%);
}

#flag_ratio p {
    /* margin-top: 10px; */
    text-align: center;
    font-weight: 600;
}

.ratio-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
    width: 90%;
    height: 83%;
    background-color: transparent;
    /* padding: 0 3px; */
    border: 1px solid #9e9e9e;
}

.ratio-item {
    display: flex;
    /* width: 84px; */
    width: 96%;
    height: 24px;
    margin-left: 8px;
    float: center;
}

.color-box {
    width: 28px;
    height: 14px;
    margin: 5px 5px 5px 8px;
    border-radius: 3px;
}

.ratio-data {
    width: 54px;
    height: 24px;
    line-height: 24px;
    color: var(--light-grey);
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-left: 10px;
}

.ratio-item:nth-child(1) .color-box {
    background-color: #5C90F7;
}

.ratio-item:nth-child(2) .color-box {
    background-color: #9EFCB8
}

.ratio-item:nth-child(3) .color-box {
    background-color: #F8DE74;
}

.ratio-item:nth-child(4) .color-box {
    background-color: #ED777A;
}

.ratio-item:nth-child(5) .color-box {
    background-color: #7DD6F5
}

.ratio-item:nth-child(6) .color-box {
    background-color: #57BD94;
}

.ratio-item:nth-child(7) .color-box {
    background-color: #F09054
}

.ratio-item:nth-child(8) .color-box {
    background-color: #844CDB
}

.ratio-item:nth-child(9) .color-box {
    background-color: #D07EF8
}

.ratio-item:nth-child(10) .color-box {
    background-color: #5384E2
}



/* flag 분석 테이불 */
#flag_table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 9.5%;
    height: 100%;
    border: 1px solid var(--dark-grey);
    background-color: #59595974;
    text-align: center;
}

#flag_table .info-box {
    width: 80%;
}

#flag_table .info-box P {
    font-size: 16px;
}

#flag_table .info-contents {
    transform: translate(-44%,-138%);
}

#flag_table P {
    font-weight: 600;
}

.flag_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86%;
    background-color: #59595974;
    border: 1px solid #9e9e9e8d;
}

.flag_cnt {
    height: 34%;
}

.flag_cnt .cnt_item:last-child {
    margin-top: 10px;
}

.min_flag {
    height: 21%;
}

.max_flag {
    height: 21%;
}

/* 데이터 컬럼 */
#flag_table .data_name {
    font-size: 10px;
}

/* 데이터 */
.flag_data {
    margin-top: 3px;
    font-size: 18px;
}

.data_name:nth-child(3), .data_name:nth-child(4){
    font-size: 22px;
}

.flag_total .data_name {
    color: #F5C3CB;
}

.flag_mean .data_name{
    color: #7DD6F5;
}

.min_flag .data_name {
    color: var(--dark-yellow);
}

.max_flag .data_name {
    color: var(--dark-yellow);
}



/* qps */
#qps-box {
    position: absolute;
    top: 0;
    left: 33.5%;
    /* width: 27%; */
    width: 33%;
    /* height: 302px; */
    height: 320px;
}
#graph_qps {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

/* rps */
#rps-box {
    position: absolute;
    top: 0;
    /* left: 73%; */
    left: 67%;
    /* width: 27%; */
    width: 33%;
    /* height: 302px; */
    height: 320px;
}
#graph_rps {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}




/* scrpro, dstpro box */
#sdpro-box {
    position: absolute;
    top: 0;
    width: 33%;
    height: 320px;
    border: 1px solid grey;
    box-sizing: border-box;
    background-color: #5959594a;
}

#sdpro-box .graph-box {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 6%;
    margin: 0 auto;
}

#sdpro-box p{
    color: var(--light-grey);
}


#sdpro-box .title_scrpro {
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%,0);
    text-shadow: 2px 2px 2px var(--dark-grey);
    font-size: 15px;
    font-weight: 600;
    z-index: 2;
}

#sdpro-box .title_dstpro {
    position: absolute;
    top: 50%;
    left: 78%;
    width: 100%;
    transform: translate(-50%,0);
    text-shadow: 2px 2px 2px var(--dark-grey);
    font-size: 15px;
    font-weight: 600;
    z-index: 2;
}

#sdpro-box .info-box {
    width: 100%;
}

#graph_pro {
    /* top: 10%; */
    top: 15%;
    left: 28%;
    /* width: 70%; */
    width: 63%;
    /* height: 87%; */
    height: 80%;
    /* border: none; */
    overflow: hidden;
    transform: translateX(-50%);
}

/* 프로토콜 비율 테이블 */
#table_pro {
    position: absolute;
    top: 15%;
    left: 61%;
    width: 40%;
    height: 80%;
}

#table_pro table {
    width: 100%;
    height: 100%;
    margin: 0;
    
}

#table_pro table {
    font-size: 13px;
    color: var(--light-grey);
}

#table_pro tr:first-child tr,td {
    background-color: #00000098;
}


#table_pro tr,td {
    padding: 1px 4px;
}




/* qps,rps maxValue box */
#qrps-pro-table {
    /* top: 699px; */
    top: 328px;
    /* left: 45.5%; */
    /* width: 54.4% */
    width: 100%;
    height: 92px;
}
#qrps-pro-table .data-box {
    width: 25%;
    height: 100%;
}
.qrps-data p{
    color: #F5C3CB;
}

.qrps-data2 p{
    color: #F5C3CB;
}

.pro-data p{
    color: #5C90F7;
}

.pro-data2 p{
    color: #5C90F7;
}

.qrps-data .unit {
    font-size: 10px;
    color: #F5C3CB;
}

.qrps-data2 .unit {
    font-size: 10px;
    color: #F5C3CB;
}



#qrps-pro-table .info-box p {
    font-size: 16px;
    margin: 0;
}

#qrps-pro-table .info {
    margin-bottom: 2px;
}

#qrps-pro-table .info-contents {
    width: 25%;
}