/* dashboard third table section css */

/* 3번째 데이터 영역 */

/* iat data table */
#iat-table {
    width: 100%;
    top: 418px;
    height: 90px;
}

#iat-table .data-box {
    width: 25%;
    height: 100%;
}

#iat-table .data-inner-box p {
    color: #9635B4;
    font-size: 13px;
}

#iat-table span {
    margin-right: 8px;
}


/* qps */
#iat-box {
    position: absolute;
    /* top: 112px; */
    /* width: 31.5%; */
    width: 36%;
    /* height: 360px;*/
    height: 400px; 
}
#graph_iat {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
}


/* 시그니처 */
#sig_box {
    position: absolute;
    border: 1px solid grey;
    /* top: 112px; */
    left: 36.5%;
    /* width: 50%; */
    width: 63.5%;
    /* height: 510px; */
    height: 400px;
    /* overflow: hidden; */
    overflow: visible;
    z-index: 2;
}

#sig_box .graph_box {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 94%;
    overflow: hidden;
}

#graph_sig {
    top: 0;
    width: 104%;
    height: 100%;
    border: none;
}

#sig_box .info-box {
    position: absolute;
    /* top: 2%; */
    width: 100%;
    /* justify-content: flex-end; */
    /* margin: 10px -10px; */
    z-index: 3;
}

#sig_box .info-contents {
    width: 98%;
    transform: translate(0%,-116%);
    /* transform: translate(-40%,-116%); */
}


/* conversaion 표 */
#table_con {
    position: absolute;
    top: 520px;
    /* left: 32%; */
    width: 100%;
    height: 360px;
    border: 1px solid grey;
}

#table_con table {
    font-size: 15px;
}


table {
    text-align: center;
    color: var(--light-grey);
}

#table_con table {
    width: 100%;
    /* height: 100%; */
    height: 320px;

}

table, tr, td {
    border: 1px solid var(--dark-grey);
}