/* documnent \ protocol_exp.css */

body {
    background-color: black;
}

#main {
    padding-top: 100px;
}


/* title 박스 */
.title-box {
    border-top: 1px solid var(--dark-grey);
    text-align: center;
    margin: 80px 18% ;
}

.title-box h2 {
    margin: 36px 0 24px;
    color: var(--dark-yellow);
    font-size: 58px;
}

.title-box .sub-exp p{
    color: var(--dark-grey);
}



/* 계층별 설명 */
.layer-box {
    margin: 108px 18%;
}


.layer-box .sub-title {
    height: 48px;
    margin-bottom: 28px;
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    color: #a4a4a4;
    border-bottom: 1px solid var(--dark-grey);
}

/* 각 용어별 설명 */
.layer-box .exp-box {
    margin-bottom: 28px;
}

.exp-box .word {
    font-weight: 600;
    font-size: 18px;
}

.exp-box p {
    margin: 5px 0;
}

.exp-box .word-exp {
    font-size: 16px;
    color: #a4a4a4
}

.word-exp span {
    text-decoration: underline 0.4px;
}
