<!-- navbar.html -->

<nav id="navbar"> 

    <a href="/"><img id="nav-logo" src="/static/img/main_team_logo.png" alt=""></a>
    <a href="/"><div id="nav-title"><h2 class="font">SIGNATURE</h2></div></a>
    <div class="nav-bars">
        <div class="bar"></div>
        <div class="bar bar2"></div>

    </div>
</nav>

<div class="navbar-container">
    <div class="navbar-list font">
        <ul>
            <li>MAIN</li>
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"> <a href="/script_exp">Network Traffic Capture</a></li>
              <li class="nav-item"> <a href="/vaccine">Antivirus Software</a></li>
        </ul>
    
        <ul>
            <li>DOCUMENTS</li>
            <li class="nav-item"><a href="/network_exp">Network</a></li>
            <li class="nav-item"><a href="/protocol_exp">Protocol Type</a></li>
            <li class="nav-item"><a href="/attack_exp">Attack Type</a></li>
        </ul>
    </div>
</div>


