<!-- document \ script_exp.html  -->

<!-- extends common/base.html -->
{% extends 'common/base.html' %}

<!-- title -->
{% block title %} SIGNATURE {% endblock %}

<!-- css -->
{% block extra_css %}
  <!-- clipboard.js cdn 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  <!-- 프로그래스바  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css"/>
  <!-- 스타일 -->
  <link rel="stylesheet" href="/static/css/document.css/?">
  <link rel="stylesheet" href="/static/css/script_exp.css/?">
  <link rel="stylesheet" href="/static/css/upload.css/??">
  <link rel="stylesheet" href="/static/css/loading.css">
{% endblock %}

<!-- Navbar -->

<!-- Contents -->
{% block content %}

  {% include 'documents/loading.html' %}

  <!-- 설명 콘텐츠 영역 -->
  <section id="main">

    <!-- Intro -->
    <div id="intro" class="contents">
      <p>시그니처는 네트워크 트래픽 데이터를 수집하는 코드를 제공합니다.</p>
      <!-- 아이콘 이미지들 -->
      <img id="icons" src="/static/img/main/icons/document_icons.png" alt="document icons">
    </div>


    <!-- 네트워크 트래픽 캡쳐 설명 -->
    <div id="trafficCapture" class="contents">

      <h2 class="font">Network Traffic Capture Code
        <img class="download-icon download" src="/static/img/script_exp/download_icon.png" alt="">
      </h2>
      

      <hr>
      <h3 class="font">[Instructions for Use]</h3>
      <div class="explanation">

        <p class="q">1. Scapy에서는 WinPcap을 사용하여 패킷 스니핑 및 송신을 지원합니다. WinPcap을 다운 받으세요.</p>
        <p>&nbsp;&nbsp; WinPcap 다운로드 링크: <a href="http://www.winpcap.org/install/default.htm">www.winpcap.org/install/default.htm</a></p>

        <p class="q">2. 시그니처에서 제공하는 코드를 <span class="download underline">다운로드</span>합니다.</p>

        <P class="q">3. 이 코드에서는 scapy 라이브러리를 사용합니다. scapy 라이브러리를 설치하지 않았다면, 다음 명령어를 실행하세요.</P>
        <div class="code-box">
          <div class="code-header">
            <div class="code-header-item code-type">Terminal</div>
            <button class="code-header-item copy-button">Copy</button>
          </div>
          <pre>
              <code>pip install scapy</code>
          </pre>
        </div>

        <!-- <p>3. Scapy에서는 WinPcap을 사용하여 패킷 스니핑 및 송신을 지원합니다. WinPcap을 다운 받으세요.</p>
        <p>&nbsp;&nbsp; WinPcap 다운로드 링크: <a href="http://www.winpcap.org/install/default.htm">www.winpcap.org/install/default.htm</a></p> -->

        <p class="q">4. 코드를 실행하기 전, capture_time 변수를 수정하여 캡처할 시간을 조정할 수 있습니다.</p>
        <div class="code-box">
          <div class="code-header">
            <div class="code-header-item code-type">Python</div>
            <button class="code-header-item copy-button">Copy</button>
          </div>
          <pre>
              <code>capture_time = 600  # 기본값: 600초(10분)</code>
          </pre>
        </div>

        <p class="q">5. 코드를 실행하면, 캡처된 데이터는 현재 디렉토리의 "network_traffic.csv"과 "network_traffic.pcap" 파일이 저장됩니다.</p>

        <p class="q">6. CSV 파일을 업로드합니다.</p>

        <!-- Upload -->
        <div id="upload" class="main-contents">
          <!-- <h2 class="font upload-title">File Upload</h2> -->
          <form id="upload_file" action="{% url 'dashboard:dashboard' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="upload-box">                  
                  <input type="file" id="csv_file" name="csv_file" class="upload">  
                  <input type="submit" value="Submit" class="upload-btn font">    
                  <p class="info">※ 파일 용량이 큰 경우 데이터 분석시간이 오래 소요될 수 있습니다.</p>                           
              </div>
          </form>
        </div>

      </div>
    </div>
  </section>



{% endblock %}

<!-- footer -->

{% block extra_script %} 
  <script src="/static/javascript/script_exp.js"></script> 
  <script src="/static/javascript/send_data.js"></script>
{% endblock %}